.tal {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../images/doliwalaband3.jpeg'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;
   
  }

  .sect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  

  .sect h2 {
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    color: #FAE425;
    text-align: center;
  }

  .sect p {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Lexend', sans-serif;
  }
  .fect{
    position: absolute;
    top: 98%;
    transform: translateY(-98%);
    left: 63%;
    white-space: nowrap;
  }
  .fect h1{
    color: #fae425;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
  }
  .about-welcome{
    padding: 50px 60px;
    background-color: #ffffff;
  }
  .flex-about{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 60px;
  }
  .first-about h1{
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 22px;
  }
  .first-about p{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    width: 80%;
    max-width: 100%;
    margin-top: 20px;
    line-height: 22px;
  }
  .abouts-butt button{
    background-color: #FD4434;
    color: white;
    font-size: 14px;
    padding: 7px 24px;
    outline: none;
    border: none;
    border-radius: 1px 12px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
  }
  .about-read-more button{
    background-color: #FD4434;
    outline: none;
    border: none;
    margin-top: 30px;
    width: 120px;
    max-width: 100%;
    height: 38px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lexend', sans-serif;
  }
  .second-about{
    position: relative;
  }
  .circus{
    position: relative;
  }
  .circus img{
    position: absolute;
    opacity: 0.1;
    width: 150px;
    top: -80px;
    left: 90px;
  }
  .second-about img{
     width: 400px;
     max-width: 400px;
     height: 430px;
    margin-top: 40px;
  }
  .luxury-sox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .luxury-box{
    padding: 15px 25px;
    border: 1.8px solid #FD4434;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 850px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    z-index: 1;
  }
  .text-luxury h1{
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    opacity: 0.9;
  }
  .luxury-btn button{
    background-color: #FD4434;
    border: none;
    cursor: pointer;
    outline: none;
    width: 130px;
    height: 38px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
  }
  .wedding_img_container {
    background-color: #F1F1F1;
    padding: 40px 60px;
    position: relative;
  }
  .wedding_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    margin-top: 40px;
  }
  .wedding_img img{
    width:325px;
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    margin: 0 10px;
  }
  .circle{
    position: absolute;
    top: -4%;
    right: 67%;
    /* left: -4px; */
  }
  .circle img{
    width: 400px;
    max-width: 100%;
    opacity: 0.1;
  }
  
  @media only screen and (max-width:1199px){
    .fect{
       left: 9%; 
    }
    .tal{
      height: 70vh;
    }
  }
  @media only screen and (max-width:1095px){
    .first-about p{
      width: 95%;
      max-width: 100%;
    }
  }
  @media only screen and (max-width:1005px){
    .flex-about{
      flex-direction: column;
      align-items: center;
    }
    .second-about{
      margin-top: 40px;
    }
  }

  @media only screen and (max-width:920px){
    .about-welcome{
      padding: 50px 20px;
    }
    .flex-about{
      padding: 0 10px;
    }
    .circle img{
      display: none;
    }
    .wedding_img{
      padding: 0px 30px;
    }
  }

  @media only screen and (max-width:577px){
    .luxury-box{
      flex-direction: column;
    }
    .luxury-btn button{
      margin-top: 30px;
    }
    .text-luxury h1{
      text-align: center;
    }
    .fexta h1{
      font-size: 20px;
    }
    .fect{
      white-space: break-spaces;
    }
    .circus img{
      display: none;
    }
  }

  @media only screen and (max-width:850px) {
      .wedding_img{
        flex-direction: column;
      }
      .wedding_img img{
        width: 500px;
        max-width: 100%;
        display: block;
        margin: 10px auto;
      }
  }

  @media only screen and (max-width:402px){
    .fect h1{
      font-size: 18px;
    }
    .wedding_img{
      padding: 0px 0px;
    }
    .wedding_img_container{
      padding: 40px 30px;
    }
    .first-about p{
      font-size: 15px;
    }
    .wedding_img img{
      width: 600px;
      max-width: 100%;
      display: block;
      margin: 10px auto;
    }
    .second-about img{
      height: auto;
      width: 300px;
    }
    .sect h2{
      font-size: 26px;
    }
    .sect p{
      font-size: 20px;
    }
  }

  @media only screen and (max-width:575px){
    .sect p{
      text-align: center;
    }
  }
  @media only screen and (max-width:325px){
    .second-about img{
      width: 248px;
      height: auto;
      display: block;
      margin: auto;
    }
    .circus img{
      display: none;
    }
  }
