.tal {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../images/doliwalaband4.jpeg'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;
  }

  .sect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }


  .sect h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
  }

  .sect p {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    
  }
  .fect{
    position: absolute;
    top: 98%;
    transform: translateY(-98%);
    left: 63%;
    white-space: nowrap;
  }
  .fect h1{
    color: #fae425;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
  }

  .how {
    padding: 100px 30px;
  }

  .how h1 {
    text-align: center;
    font-size: 26px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
  }

  .how p {
    margin-top: 20px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
  }

  .how_flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px;
    margin-top: 40px;
  }

  .st {

    margin: 0 30px;
  }

  .how_flex img {
    max-width: 100%;
    width: 355px;
    height: auto;
  }


.contas{
  background-color:#222222 ; padding: 30px 60px;
}
.contas p{
  margin-top: 20px;
  text-align: center;
  color: #EC3237;
  font-size: 24px;
  height: 33px;
  font-family: 'Poppins', sans-serif;
  
}


  /* ==========conatct form end=============== */
  .wrapper {
    margin: 10px auto 0;
    width: 100%;
    max-width: 1720px;
    padding: 20px;
    box-sizing: border-box;
    padding: 0 80px;
  }

  /* content */
  .content {
    text-align: center;
  }

  .content h1 {
    letter-spacing: 1px;
  }


  /* form */
  .form {
    width: 100%;
    margin: 25px 0;
  }

  .top-form,
  .bottom-form {
    width: 100%;
    min-height: 65px;
    margin: 30px 0;
  }

  .form input[type="text"],
  .form textarea, .form input[type="email"]  {
    border: 2px solid #fff;
    padding: 16px 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    transition: all 0.2s ease;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    
  }

  .form textarea .form input{
    color: #B9B2B4;
    opacity: 0.7;
  }

  .form input:focus,
  .form textarea:focus {
    border-color: #4ca1af;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
      0 0 8px rgba(76, 161, 175, 0.5);
  }

  .form .label {
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  /* top-contact */
  .top-form .inner-form {
    width: 29.9%;
    float: left;
    margin-right: 5%;
  }

  .top-form .inner-form:last-child {
    margin-right: 0;
  }




  /* bottom-form */
  .bottom-form textarea {
    max-height: 100%;
    height: 170px;
  }

  .btn {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #FD4434;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 7px;
    margin: 25px auto;
  }

  @media only screen and (max-width:1199px){
    .fect{
       left: 9%; 
    }
    .tal{
      height: 70vh;
    }
  }

  @media only screen and (max-width:920px){
    .how{
      padding: 80px 20px;
    }
    .how_flex{
      padding: 0 10px;
    }
    .contas{
      padding:30px 20px ;
    }
    .wrapper{
      padding: 0px 10px;
    }
  }

  @media screen and (max-width: 460px) {
    .top-form .inner-form {
      width: 100%;
      margin: 5px 0;
    }

    .bottom-form textarea{
      margin: 10px 0;
    }

    .inner-form input{
      margin: 10px 0;
    }

    .top-form,
    .bottom-form {
      margin: 5px 0;
    }

    .form {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width:402px){
    .fect h1{
      font-size: 20px;
    }
    .sect h2{
      font-size: 26px;
    }
    .sect p{
      font-size: 18px;
    }
  }

  @media only screen and (max-width:577px){
    .fect{
      white-space: break-spaces;
    }
  }

  @media only screen and (max-width:770px){
    .how_flex{
      flex-direction: column;
    }
    .how_flex img{
      margin: 10px 0px;
    }
  }
    