.tal {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url('../images/nafiri.png'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: darken;
   
  }

  .sect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .sect h2 {
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
  }

  .sect p {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Lexend', sans-serif;
  }
  .fect{
    position: absolute;
    top: 98%;
    transform: translateY(-98%);
    left: 63%;
    white-space: nowrap;
  }
  .fect h1{
    color: #fae425;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
  }
 .gallary{
   padding: 40px 60px;
   position: relative;
 }
 .gallary .bansi{
  position: relative;
 }
 .gallary .bansi img{
  position: absolute;
  left: 75%;
  top: -50px;
  z-index: -1;
 }
 .gallary h1{
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
 }
 .gallary p{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
 }
 .gallary .gal-img{
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: 30px auto;
 }
 /* .gallary-button button{
  display: none;
  background-color: #FD4434;
  display: block;
  margin:40px auto;
  border: none;
  cursor: pointer;
  outline: none;
  width: 130px;
  height: 38px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
 } */

 .pagination{
	width: 100%;
	float: left;
	padding:50px 0px;
	text-align: center;
}
 .pagination div{
	display: inline-block;
	margin:0 10px;
}
 .pagination .page{
	color:gray;
}
 .pagination .prev, .pagination .next{
 color:#000;
 border:1px solid #000;
 font-size:15px;
 padding:7px 15px;
 cursor: pointer;
}

 .pagination .prev.disabled,
 .pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}

.gallery-items .fanother.hide{
   display: none;
}

.gallery-items .fanother.show{
	display: block;
	animation: show .5s ease;
}

@keyframes show{
  0%{
    opacity:0;
    transform: scale(0.9);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}

.pagination .prev, .pagination .next{
  color:#000;
  border:1px solid #000;
  font-size:15px;
  padding:7px 15px;
  cursor: pointer;
 }

 .another {
  float: left;
	width:50%;
	position: relative;
  /* margin: 20px 0px; */
}
.gallery-items{
  padding: 0 55px;
}
.another1{
  margin: 0 15px;
}
.another2 {
  margin: 0 15px;
}
.ant1 {
  margin: 0px 15px;
}

.ant1 img {
  max-width: 837px;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.ant2 {
  margin: 0px 15px;
}

.ant2 img {
  height: auto;
  width: 100%;
  max-width: 841px;
  width: 100%;
  object-fit: cover;
}

.another3 {
  margin: 0 15px;
}

.another3 img {
  width: 837px;
  height: 300px;
  max-width: 100%;
  max-height: 100;
  object-fit: cover;
  border-radius: 0px;
  /* object-position: top; */
}

.another4 {
  margin: 25px 15px;
}

.another4 img {
  width: 837px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 8px;
}

/* ================medai only screen =============== */
@media only screen and (max-width:1199px){
  .fect{
     left: 9%; 
  }
  .tal{
    height: 70vh;
  }
  .gallary .bansi img{
    display: none;
  }
}

@media only screen and (max-width:971px){
  .another {
    flex-direction: column;
    /* margin: 10px 0;  isko changes  */
    position: relative;
    float: none;
    width: 100%;
  }
  .another3 img{
    height: auto;
    display: block;
    margin: auto;
  }
  .another4 img{
    height: auto;
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width:920px){
  .gallary{
    padding: 40px 30px;
  }
  .gallery-items{
    padding: 0px 0px;
  }
}

@media only screen and (max-width:577px){
  .fect{
    white-space: break-spaces;
  }
}
@media only screen and (max-width:402px){
  .sect h2{
    font-size: 26px;
  }
  .fect h1{
    font-size: 18px;
  }
}
